{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <title>Libary Management</title>
    {% block cssstyle %}{% endblock cssstyle %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>

{% comment %} Nav Bar Section  {% endcomment %}

    <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'homepage' %}"><img class="navbarImage" src="{% static 'logo.png' %}" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-5 mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active hvr-underline-from-center" aria-current="page" href="{% url 'homepage' %}">Home</a>
              </li>
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active hvr-underline-from-center" aria-current="page" href="{% url 'deposit_money' %}">Deposite</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link active hvr-underline-from-center" aria-current="page" href="{% url 'deposit_money' %}">Books</a>
              </li> <li class="nav-item">
                <a class="nav-link active hvr-underline-from-center" aria-current="page" href="{% url 'deposit_money' %}">Top Publishers</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle hvr-underline-from-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Category
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Top Books</a>
                  <a class="dropdown-item" href="#">Top Publishers</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Leatest Updates</a>
                </div>
              </li>
            </ul>
            <form class="d-flex mx-5 input-group w-auto">
              <input
                type="search"
                class="form-control rounded"
                placeholder="Search"
                aria-label="Search"
                aria-describedby="search-addon"
              />
              <span class="input-group-text border-0" id="search-addon">
                <img src="{% static 'search.png' %}" role="button" tabindex="0" alt="">
              </span>
            </form>
            {% if request.user.is_authenticated %}
            <form class="d-flex list-unstyled ms-3">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <img src="{% static 'wallet.png' %}" class="" height="32" alt="Photo of wallet" loading="lazy"/>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <h3>Balance: ${{ request.user.account.balance }}</h3>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="{% static 'Profile.png' %}" class="rounded-circle" height="45" alt="Portrait of a Woman" loading="lazy"/>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item"href="{% url 'profile' %}">My profile</a>
                  <a class="dropdown-item" href="{% url 'logout' %}">Favorite List</a>
                  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </li>
            </form>
          {% else %}
            <form class="d-flex ms-4">
              <a class="hvr-bounce-to-bottom mx-3" href="{% url 'login' %}">Login</a>
              <a class="btn-of-signup" href="{% url 'register' %}">Sign Up</a>
            </form>
          {% endif %}
          
          </div>
        </div>
      </nav>

{% comment %} Message show section  {% endcomment %}
      {% for i in messages %}
      <script>
        // Trigger SweetAlert2 automatically based on a condition
        {% if i.tags == 'warning' %}
        document.addEventListener('DOMContentLoaded', function() {
          Swal.fire({
              title: 'Message!',
              text: '{{i}}',
              icon: 'warning',
              confirmButtonText: 'OK'
          });
        });
        {% else %}
        document.addEventListener('DOMContentLoaded', function() {
          Swal.fire({
              title: 'Message!',
              text: '{{i}}',
              icon: 'success',
              confirmButtonText: 'OK'
          });
        });
        {% endif %}
    </script>
    {% endfor %}

{% comment %} Content Section  {% endcomment %}
  {% block content %}{% endblock content %}
  </main>

  
{% comment %} Javascript file section  {% endcomment %}
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% block jsfile %}
  
{% endblock jsfile %}
  
</body>

</html>