{% extends 'base.html' %}
{% load static %}

{% comment %}===================  Section of the ROOT FIELS =========================={% endcomment %}
{% block cssstyle %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
{% endblock cssstyle %}


{% block content %}

{% comment %}===================  Section of the Banner =========================={% endcomment %}
<section class="banner-Section">
  <div class="Home_container d-flex justify-content-between algin-items-start m-5">
    <div class = "home_text p-4">
      <h1>Better <span><br>Learning <br> Future</span> Starts <br> With Penn</h1>
      <p>It is a long established fact that reader will be distracted readable content of a page when.</p>
      <a href="#" class="hvr-sweep-to-right">EXPLORE BOOKS <img src="{% static 'right-arrow (1).png' %}" class="arrowsignpng"alt="" srcset=""></a>
    </div>
    <div class = "home_image">
      <div class="position-absolute circle-image-of-banner">
        <img src="{% static 'circle.png' %}" alt="" srcset="">
      </div>
      <div class="banner-girl-img">
        <img src="{% static 'home-image.png' %}" alt="">
      </div>
      <div class="banner-active-user">
        <img src="{% static 'group.png' %}" alt="" srcset="">
        <h2>7000+</h2>
        <span>Active Users</span>
      </div>
      <div class="banner-totalBook">
        <img src="{% static 'open-book.png' %}" alt="" srcset="">
        <h2>7000+</h2>
        <span>Total Books</span>
      </div>
    </div>
  </div>
</section>

{% comment %}===================  Section of the CARD SECTION =========================={% endcomment %}
<section class="Card-Section">
  <div class="Card-Section-Container d-flex justify-content-center align-content-center">
    <div class="card" style="width: 35rem; height:22rem">
      <div class="card-body Card_section_text">
        <h3 class="card-title">Top Publishers</h3>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur notted adipisicing elit sed do eiusmod tempor incididunt ut labore.</p>
        <a href="#" class="hvr-sweep-to-right">EXPLORE Publisehrs <img src="{% static 'right-arrow (1).png' %}" class="arrowsignpng"alt="" srcset=""></a>
      </div>
    </div>
    
    <div class="card" style="width: 35rem; height:22rem">
      <div class="card-body Card_section_text">
        <h3 class="card-title">Top Books</h3>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur notted adipisicing elit sed do eiusmod tempor incididunt ut labore.</p>
        <a href="#" class="hvr-sweep-to-right">EXPLORE BOOKS <img src="{% static 'right-arrow (1).png' %}" class="arrowsignpng"alt="" srcset=""></a>
      </div>
    </div>
    
    <div class="card" style="width: 35rem; height:22rem">
      <div class="card-body Card_section_text">
        <h3 class="card-title">Our Achivements</h3>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur notted adipisicing elit sed do eiusmod tempor incididunt ut labore.</p>
        <a href="#" class="hvr-sweep-to-right">EXPLORE Achivements <img src="{% static 'right-arrow (1).png' %}" class="arrowsignpng"alt="" srcset=""></a>
      </div>
    </div>
    
            
  </div>
</section>



{% comment %}===================  Section of the BOOK =========================={% endcomment %}
<section class="BOOKS mt-4">
<div class="d-flex justify-content-center gap-5 flex-wrap">
    {% for brand in Books %}
    <ul class="barnd_name_ul m-0 mt-5"> 
      <li class="barnd_name_li">
        <a href="{% url 'brand_wise' brand.slug %}" class ="text-decoration-none barnd_name">{{brand.name}}</a>
        </li>
    </ul>
    {% endfor %}
</div>

<div class="swiffy-slider slider-item-show3 slider-item-reveal slider-nav-dark slider-nav-outside-expand Products_Silder">
  <ul class="slider-container py-2" id="slider2">
    {% for val in data %}
    <li>
      <div class="card shadow h-100 rounded-card" onclick="handleItemClick('${singleData.id}')">
        <div class="ratio ratio-1x1 p-5">
            <img src="{{val.image.url}}" class="card-img-top" loading="lazy" alt="...">
          </div>
          <div class="card-body d-flex flex-column flex-md-row">
            <div class="flex-grow-1">
              <strong>{{val.title}}</strong>
              <p class="card-text-books">{{val.description |truncatewords:10 }}</p>
              <a href="{% url 'Views_Details' val.id%}" class="book-card-button">View Details</a>
            </div>
            <div class="px-md-2">{{val.price}}$</div>
          </div>
        </div>
      </li>
      {% endfor %}
      
    </ul>
    
    <button type="button" class="slider-nav" aria-label="Go to previous"></button>
    <button type="button" class="slider-nav slider-nav-next" aria-label="Go to next"></button>
  </div>
</section>

{% endblock content %}

{% comment %}===================  Section of the JS =========================={% endcomment %}
{% block jsfile %}
  <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>  
{% endblock jsfile %}
  