<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<style>
    a{
        text-decoration: none;
        font-size:25px;
        color: darkcyan;
    }
    ul{
        display: flex;
        gap:30px;
        justify-content: center;
    }
    a:hover{
        color: black;
    }
    h3{
        font-size:30px;
        text-align:center;
    }
</style>
<body>
    <h1 style="color:#860A35;text-align:center;"><---------------This is The Contact page--------------></h1>
    <h2 style="color:green;text-align:center;">Navigation Tabs in Below</h2>
    <ul style="list-style: none; text-decoration:none;">
        <li><a href="/">Home</a></li>
        <li><a href="/link_pages/contact/">Contact</a></li>
        <li><a href="/link_pages/services/">Services</a></li>
        <li><a href="/link_pages/about/">About</a></li>
        <li><a href="/link_pages/extra/">Extra</a></li>
    </ul>
    <h3><a href="/doctor/">Doctor</a></h3>
</body>
</html>