{% extends 'base.html' %}
{%  load crispy_forms_tags %}
{% block cssStyle %}
<style>
    .form-check-label{
        font-size: 28px;
        margin-left: 14px;
    }
    #id_Is_completed{
        width: 38px;
        height: 38px;
    }
    .txt{
        color: #198754;
        margin-top:10px
    }
</style>
{% endblock cssStyle %}
{% block content %}


<h1 class="text-center txt">Add Task</h1>
<form style="width:50% ; margin : auto" method="post">
    {% csrf_token %}
    {{form | crispy}}

<button class="btn btn-warning">Submit</button>
</form>

{% endblock %}