{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<h1 class="text-center">Log In Page</h1>
<form method = "post" class="w-50 m-auto" novalidate>
{% csrf_token %}

{% comment %} {% if form.non_field_errors %}
    {% for er in form.non_field_errors %}
        <p class="bg-danger text-white p-5">{{er}}</p>
    {% endfor %}
{% endif %}
     {% endcomment %}
{{ form | crispy}}
<div class="mt-4">
    <button class="btn btn-primary text-center d-block w-25 m-auto">Login</button>
</div>
</form>
{% endblock content %}