{% extends 'base.html' %} {% load static %} {% block content_section %}

<h1 class="text-center">Those are the contents Cards</h1>

<div class="d-flex flex-wrap justify-content-center gap-4">
{% for meal in meals %}
  <div class="card" style="width: 18rem">
    <img src="{{meal.strMealThumb}}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{meal.strMeal}}</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Order Now</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content_section %}
