/* ====================== Home Take Note Setion =============================  */

.take_note_container{
    width: 595px !important;
    height: 44px !important;
    margin: 37px auto !important;
}
.take_note_container div{
    box-shadow: 0px 2px 11px -4px #4c4949 !important;
    border: none !important ;
    border-radius: 11px !important;
}
.text_note{
    letter-spacing: .00625em;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 8px;
    padding-left: 24px;
    padding-top: 14px;
    color: #606060;
    
}