{% extends 'base.html' %}
{% load static %}
{%  load crispy_forms_tags %}
{% block content %}
<div class="d-flex flex-wrap justify-content-start m-5 gap-5 NoteShowContainer">
    {% for note in Notes %}
    <a href="{% url 'EditNote' note.id %}" class="text-decoration-none text-dark">
        <div class="NoteShow">
            <h6><strong>{{note.title}}</strong></h6>
            <p>{{note.body}}</p>
            <a href="{% url 'Archive' note.id 0 %}"  class="btn btn-warning mb-2 w-100 m-auto">UnArchive</a>
            <a href="{% url 'deleteNote' note.id %}" class="btn btn-danger w-100 m-auto">delete note</a>
        </div>
    </a>
        {% endfor %}
</div>
    
{% endblock content %}
{% comment %}================  Section of the Content Notes Files  ======================{% endcomment %}
